MONGODB_URI=mongodb+srv://kladminuser:klpassword@cluster0.hszmspe.mongodb.net/kadel-labs?appName=Cluster0
JWT_SECRET=your-super-secret-jwt-key-change-this
NEXT_PUBLIC_BASE_URL=http://localhost:3000
JUDGE0_API_URL=https://judge0-ce.p.rapidapi.com
RAPIDAPI_KEY=your-rapidapi-key-here